/*Anything commented in the code is either "temporarily" removed for experimantal 
reasons or is being used to label clustered parts of the code*/

.contain-wrap {
	align-items: center;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 1.6em;
	min-height: 1.875em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-container {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	max-width: 100%;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-container:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-container:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-row {
	background-color: rgb(255, 255, 255);
	border-bottom: 5px solid rgb(117, 212, 28);
	box-sizing: border-box;
	color: rgb(67, 74, 86);
	display: block;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	/*height: 17em;*/
	letter-spacing: normal;
	line-height: 1.9425em;
	overflow-wrap: break-word;
	padding-left: 3.8542em;
	padding-right: 3.8542em;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
}

.title-row:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-row:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-head-title {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-title-h2 {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 1em;
	font-weight: 600;
	height: auto;
	hyphens: manual;
	line-height: 2.75em;
	margin-bottom: 0em;
	overflow-wrap: normal;
	padding: -0.75em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	width: 100%; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-logo {
	/*aspect-ratio: auto 437 / 118;*/
	border-bottom: 0px none rgb(51, 51, 51);
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: inline;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	height: 7.60546875em !important;
	line-height: 25.6px;
	/*max-width: 100%;*/
	overflow-clip-margin: content-box;
	overflow-x: clip;
	overflow-y: clip;
	text-size-adjust: 100%;
	text-transform: none;
	vertical-align: middle;
	width: 28.166015625em !important; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-desc {
	align-items: center;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 600;
	height: auto;
	hyphens: manual;
	line-height: 1.1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	overflow-wrap: normal;
	padding-left: 1.6667em;
	padding-right: 1.6667em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-welcome {
	align-items: center;
	background-color: rgb(33, 33, 33);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 1.6em;
	margin-left: 0em;
	margin-right: 0em;
	min-height: 1.875em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.welcome-container {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: 1.66666875em;
	margin-right: 1.66666875em;
	max-width: 100%;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 73.125em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.welcome-container:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.welcome-container:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.welcome-row {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-bottom: 0em;
	margin-left: 1.25em;
	margin-right: 1.25em;
	margin-top: 0em;
	min-height: 1.875em;
	padding-bottom: 1.625em;
	padding-top: 2.125em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.welcome-wrapper {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	min-height: 1.875em;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 57.291em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-title {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 600;
	hyphens: manual;
	line-height: 55px;
	margin-block-end: 0.2em;
	margin-block-start: 0.4em;
	margin-bottom: 0.2em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-top: 0.4em;
	overflow-wrap: normal;
	text-align: center;
	text-shadow: rgba(140, 140, 140, 0.6) 1px 1px 0px, rgba(0, 0, 0, 0.67) -1px -1px 1px;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-header {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	hyphens: manual;
	line-height: 1.1em;
	margin-block-end: 0.25em;
	margin-block-start: 0.5em;
	margin-bottom: 0.25em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-top: 0.5em;
	overflow-wrap: normal;
	padding-bottom: 1em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Don't know what this is or where it came from...
but I'm scared to remove it just incase I need it */
.NULL {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-block-end: 0.625em;
	margin-block-start: 0em;
	margin-bottom: 0.625em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about2 {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-block-end: 0.625em;
	margin-block-start: 0em;
	margin-bottom: 0.625em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about2 a {
	color: rgb(117, 212, 28);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	transition: linear 0.2s;
}

.about2 a:hover {
	color: rgb(34, 136, 32);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	transition: linear 0.2s;
}

.photo-body {
	align-items: center;
	background-color: rgb(33, 33, 33);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 1.6em;
	margin-left: 0em;
	margin-right: 0em;
	min-height: 1.875em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.photo-container {
	align-items: center;
	background-color: rgb(33, 33, 33);
	box-sizing: border-box;
	color: rgb(255,255,255);
	display: flex;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 1.6em;
	margin-left: 0em;
	margin-right: 0em;
	max-width: 100%;
	padding-left: 0em;
	padding-right: 0em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.photo-container:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.photo-container:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-photo-grid {
	align-items: center;
	display: inline-grid;
	font-size: 16px;
	gap: 1em auto;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	width: auto;
}

.xion-photo-divs {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: grid;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	height: auto;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	min-height: 1.875em;
	padding-left: 0em;
	padding-right: 0em;
	position: relative;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.border-color {
	background-color: rgb(0, 0, 0);
	border-bottom: 2px solid rgb(255, 255, 255);
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left: 2px solid rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
	border-top: 2px solid rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-block-end: 0.9375em;
	margin-block-start: 0.9375em;
	margin-bottom: 0.9375em;
	margin-inline-end: 0.9375em;
	margin-inline-start: 0.9375em;
	margin-left: 0.9375em;
	margin-right: 0.9375em;
	margin-top: 0.9375em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	position: relative;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.xion-photo {
	aspect-ratio: auto 300 / 200;
	border-bottom:0px none rgb(51, 51, 51);
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: inline;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	height: auto;
	line-height: 1.6em;
	max-width: 100%;
	overflow-clip-margin: content-box;
	overflow-x: clip;
	overflow-y: clip;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	vertical-align: middle;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	/*height: 180.438px;
	width: 270.656px;*/
}

/*----------*/

@media only screen and (max-width: 768px) {
	.title-row {
		background-color: rgb(255, 255, 255);
		border-bottom: 5px solid rgb(117, 212, 28);
		box-sizing: border-box;
		color: rgb(67, 74, 86);
		display: block;
		font-family: "Nunito Sans", sans-serif;
		font-size: 16px;
		font-weight: 400;
		/*height: 17em;*/
		letter-spacing: normal;
		line-height: 1.9425em;
		overflow-wrap: break-word;
		padding-left: 0em;
		padding-right: 0em;
		text-rendering: optimizelegibility;
		text-size-adjust: 100%;
		unicode-bidi: isolate;
	}
	
	.xion-title-h2 {
		box-sizing: border-box;
		color: rgb(117, 214, 28);
		display: grid;
		font-family: Montserrat;
		font-size: 1em;
		font-weight: 600;
		height: auto;
		hyphens: manual;
		justify-content: center;
		line-height: 2.75em;
		margin-bottom: 0em;
		overflow-wrap: normal;
		padding: -0.75em;
		text-align: center;
		text-size-adjust: 100%;
		text-transform: uppercase;
		unicode-bidi: isolate;
		width: 100%; 
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.xion-logo {
		/*aspect-ratio: auto 437 / 118;*/
		border-bottom: 0px none rgb(51, 51, 51);
		border-image-outset: 0;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left: 0px none rgb(51, 51, 51);
		border-right: 0px none rgb(51, 51, 51);
		border-top: 0px none rgb(51, 51, 51);
		box-sizing: border-box;
		color: rgb(51, 51, 51);
		display: inline;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		height: 5.185546875em !important;
		line-height: 25.6px;
		/*max-width: 100%;*/
		overflow-clip-margin: content-box;
		overflow-x: clip;
		overflow-y: clip;
		text-size-adjust: 100%;
		text-transform: none;
		vertical-align: middle;
		width: 19.20410157em !important; 
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.welcome-row {
		box-sizing: border-box;
		color: rgb(51, 51, 51);
		display: flex;
		flex-wrap: wrap;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 1.6em;
		margin-bottom: 0em;
		margin-left: 0em;
		margin-right: 0em;
		margin-top: 0em;
		min-height: 1.875em;
		padding-bottom: 1.625em;
		padding-top: 2.125em;
		text-size-adjust: 100%;
		text-transform: none;
		unicode-bidi: isolate;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.photo-container {
		align-items: center;
		background-color: rgb(33, 33, 33);
		box-sizing: border-box;
		color: rgb(255,255,255);
		display: flex;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		justify-content: center;
		line-height: 1.6em;
		margin-left: 0em;
		margin-right: 0em;
		max-width: 100%;
		padding-bottom: 1em;
		padding-left: 0em;
		padding-right: 0em;
		text-size-adjust: 100%;
		text-transform: none;
		unicode-bidi: isolate;
		width: auto;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.xion-photo-grid {
		align-items: center;
		display: inline-grid;
		font-size: 16px;
		gap: 1em auto;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		width: auto;
	}
	
	.xion-photo-divs {
		box-sizing: border-box;
		color: rgb(51, 51, 51);
		display: grid;
		float: left;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		height: auto;
		line-height: 1.6em;
		margin-left: auto;
		margin-right: auto;
		min-height: 1.875em;
		padding-left: 0em;
		padding-right: 0em;
		position: relative;
		text-align: center;
		text-size-adjust: 100%;
		text-transform: none;
		unicode-bidi: isolate;
		width: 100%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}