/*Anything commented in the code is either "temporarily" removed for experimantal 
reasons or is being used to label clustered parts of the code*/

.contain-wrap {
	align-items: center;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 1.6em;
	min-height: 1.875em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-container {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	max-width: 100%;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-container:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-container:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: table;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-row {
	background-color: rgb(0, 0, 0);
	border-bottom: 5px solid rgb(117, 212, 28);
	box-sizing: border-box;
	color: rgb(67, 74, 86);
	display: block;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 17em;
	letter-spacing: normal;
	line-height: 1.9425em;
	overflow-wrap: break-word;
	padding-bottom: 1.5625em;
	padding-left: 3.8542em;
	padding-right: 3.8542em;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
}

.title-row:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-row:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-title {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-title-h2 {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	hyphens: manual;
	line-height: 1.1em;
	margin-block-end: 0.25em;
	margin-block-start: 0.5em;
	margin-bottom: 0.25em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-top: 0.5em;
	overflow-wrap: normal;
	padding: 0.6em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-desc {
	align-items: center;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	height: auto;
	line-height: 1.6em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	width: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-content {
	background-color: rgb(255, 255, 255); /*rgb(48, 48, 48);*/
	font-size: 16px;
	margin-left: 2.9167em;
	margin-right: 2.9167em;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.accordion {
	align-items: flex-start;
	background-color: rgb(33, 33, 33);
	border-bottom: 5px solid rgb(33, 33, 33);
	border-right: 5px solid rgb(33, 33, 33);
	border-left: 5px solid rgb(33, 33, 33);
	border-top: 5px solid rgb(33, 33, 33);
	color: rgb(117, 212, 28);
	cursor: pointer;
	display: flex;
	font-family: Montserrat;
	font-size: 25px;
	outline: none;
	padding-bottom: 0.2em;
	padding-left: 7%;
	padding-right: 3%;
	padding-top: 0.2em;
	text-align: left;
	transition: 0.4s;
	width: 100%;
}

.accordion:after {
	align-items: flex-end;
	color: rgb(117, 214, 28);
	content: '\002B'; /*'\02795';Unicode character for "plus" sign (+) */
	display: flex;
	float: right;
	font-size: 16px;
	font-size: 2.5em;
	margin-left: 0.3125em;
}

.active:after {
	content: "\2212"; /*"\2796";Unicode character for "minus" sign (-) */
	float: right;
}

.active, .accordion:hover {
	background-color: #303030;
	border-bottom: 5px solid rgb(34, 136, 32);
	border-right: 5px solid rgb(34, 136, 32);
	border-left: 5px solid rgb(117, 212, 28);
	border-top: 5px solid rgb(117, 212, 28);
}

.accordion-btn {
	align-items: center;
	display: flex;
	margin-bottom: auto;
	margin-top: auto;
	width: 95%;
}

.panel {
	background-color: rgb(0, 0, 0);
	font-size: 16px;
	max-height: 0;
	overflow: hidden;
	padding: 0em 1.125em;
	transition: max-height 0.2s ease-out;
}

.board-link {
	align-items: center;
	background-color: rgb(33, 33, 33);
	border-bottom: 5px solid rgb(34, 136, 32);
	border-right: 5px solid rgb(34, 136, 32);
	border-left: 5px solid rgb(117, 212, 28);
	border-top: 5px solid rgb(117, 212, 28);
	color: rgb(117, 212, 28);
	cursor: pointer;
	display: grid;
	font-family: Montserrat;
	font-size: 25px;
	margin-bottom: 2em;
	margin-top: 2em;
	outline: none;
	padding-bottom: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	text-align: left;
	transition: 0.4s;
	width: 100%;
}

.board-link-menu{
	align-items: center;
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 10%;
	justify-content: space-between;
	letter-spacing: normal;
	line-height: 1.9425em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-block-end: 0em;
	margin-block-start: 0em;
	margin-bottom: auto;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: auto;
	overflow-wrap: break-word;
	padding-inline-start: 33.8229px;
	padding: 0.5em;
	text-align: center;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
	width: 100%;
}

.board-link-menu-item {
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: Montserrat; /*"Nunito Sans", sans-serif;*/
	font-size: 16.8px;
	font-weight: 400;
	height: auto;
	justify-content: center;
	letter-spacing: normal;
	line-height: 2.3625em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-wrap: break-word;
	text-align: center;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
	width: 20%;
}

li.board-link-menu-item {
	font-size: 16px;
	position: relative;
	margin-right: 1.25em;
}

.board-anchor-link {
	color: rgb(34, 136, 32);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 17px;
	height: 100%;
	text-decoration: none;
	transition: linear 0.2s;
}

.board-anchor-link:hover {
	color: rgb(117, 212, 28);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 16px;
	height: 100%;
	text-decoration: underline;
	transition: linear 0.2s;
}

.board-border {
	background-color: rgb(0, 0, 0);
	border-top: 5px solid rgb(117, 212, 28);
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5em;
	padding-right: 5em;
}

.board-row {
	background-color: rgb(0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-bottom: 1.5625em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 1.5625em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-row:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-row:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img-col {
	align-self: flex-start;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 11.45831em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-headshot-wrap {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Raleway;
	font-size: 49px;
	font-weight: 700;
	hyphens: manual;
	line-height: 1.1em;
	margin-block-end: 0em;
	margin-block-start: 0em;
	margin-bottom: 0em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	overflow-wrap: normal;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-pic {
	aspect-ratio: auto 160 / 160;
	border-bottom: 2px solid rgb(0, 0, 0);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left: 2px solid rgb(0, 0, 0);
	border-right: 2px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset, rgb(0, 0, 0) 0px 0px 0px 3px inset;
	box-sizing: border-box;
	clear: both;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Raleway;
	font-size: 49px;
	font-weight: 700;
	height: 3.1293em;
	hyphens: manual;
	line-height: 1.1em;
	margin-left: 0em;
	margin-right: 0em;
	max-width: 100%;
	opacity: 1;
	overflow-clip-margin: content-box;
	overflow-wrap: normal;
	overflow-x: clip;
	overflow-y: clip;
	padding-bottom: 0.0612em;
	padding-left: 0.0612em;
	padding-right: 0.0612em;
	padding-top: 0.0612em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	transition-behavior: normal;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: opacity;
	transition-timing-function: ease;
	vertical-align: middle;
	width: 3.1292em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-textspace {
	border-bottom: rgb(33, 137, 32);
	border-left: 0.666667px solid rgb(33, 137, 32);
	border-right: rgb(33, 137, 32);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 0em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 825px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-name {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 33px;
	font-weight: 400;
	hyphens: manual;
	line-height: 1.1em;
	margin-block-end: 0em;
	margin-block-start: 0em;
	margin-bottom: 0em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	overflow-wrap: normal;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-title {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 600;
	hyphens: manual;
	line-height: 1.1em;
	margin-block-end: 0em;
	margin-block-start: 0.5556em;
	margin-bottom: 0em;
	margin-inline-end: 0em;
	margin-inline-start: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.5556em;
	overflow-wrap: normal;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-pro-row {
	background-color: rgb(0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	min-height: 1.875em;
	padding-bottom: 25px;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 1.5625em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 69.041875em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-pro-row:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-pro-row:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.protection-col {
	border-left: 0.666667px solid rgb(33, 137, 32);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	min-height: 1.875em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 0em;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.protection-h3 {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 400;
	hyphens: manual;
	line-height: 1.1em;
	margin-bottom: 1em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.6em;
	overflow-wrap: normal;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.protection-h3-text {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 400;
	hyphens: manual;
	line-height: 1.1em;
	overflow-wrap: normal;
	text-align: center;
	text-decoration-color: rgb(117, 214, 28);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: auto;
	text-size-adjust: 100%;
	text-transform: uppercase;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.protection-ul {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6em;
	list-style-type: disc;
	padding-bottom: 1.58em;
	padding-inline-start: 3.3333em;
	padding-top: 1.58em;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pro-bullet {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: list-item;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 600;
	hyphens: manual;
	line-height: 1.1em;
	list-style-type: disc;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	overflow-wrap: normal;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bullet-text {
	color: rgb(255, 255, 255);
}

.report-wrapper {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-top {
	color: rgb(117, 212, 28);
	font-family: Montserrat;
	font-size: 20px;
}

.staff-top:before {
	content: '\2227';
	font-size: 25px;
}

.staff-top:after {
	content: '\2227';
	font-size: 25px;
}

/*<!---->*/
/*<===============  EXTRA  ===============>*/
/*<!---->*/

th {
	height: 100%;
	padding: 5px;
	text-align: center;
	width: auto%;
}