/*Anything commented in the code is either "temporarily" removed for experimantal 
reasons or is being used to label clustered parts of the code*/

#staff-list  {
	background-color: rgb(0, 0, 0);
}

#staff-list h1{
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 31.08px;
	margin: 0px;
	overflow-wrap: break-word;
	padding: 1em;
	text-decoration: underline;
}

div.scroll-container  {
	background-color: #303030;
	border-bottom: 5px solid rgb(34, 136, 32);
    border-right: 5px solid rgb(34, 136, 32);
    border-left: 5px solid rgb(117, 212, 28);
    border-top: 5px solid rgb(117, 212, 28);
	height: auto;
	overflow: auto;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	column-gap: 10px;
	width: auto;
}

div.scroll-container tr {
	padding: 10px;
}

div.scroll-container td  {
	align-content: flex-start;
	height: auto;
	text-align: center;
	white-space: normal;
	width: auto;
}
div.scroll-container h3  {
	color: rgb(117, 214, 28);
	font-family: Montserrat;
	font-size: 17px;
	height: 100%;
	margin: 5px;
	padding: 10px;
	text-align: left;
	width: auto;
}

div.scroll-container p  {
	border-right: 1px solid rgb(117, 214, 28);
	color: rgb(255,255,255);
	font-family: Montserrat;
	font-size: 12px;
	font-weight: normal;
	height: 40em;
	margin: 5px;
	margin-left: 1em;
	overflow-wrap: break-word;
	padding: 10px;
	text-align: left;
	white-space: normal;
	width: 100%;
}

strong {
	text-decoration: underline;
}

.spacer {
	border-bottom: 6px solid rgb(117, 214, 28);
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 31.08px;
	margin: 0px;
	overflow-wrap: break-word;
	padding: 1em;
	text-decoration: underline;
}

.entry-content {
	background-color: rgb(255, 255, 255); /*rgb(48, 48, 48);*/
}

.accordion {
	align-items: flex-start;
	background-color: rgb(33, 33, 33);
	border-bottom: 5px solid rgb(33, 33, 33);
    border-right: 5px solid rgb(33, 33, 33);
    border-left: 5px solid rgb(33, 33, 33);
    border-top: 5px solid rgb(33, 33, 33);
	color: rgb(117, 212, 28);
	cursor: pointer;
	display: flex;
	font-family: Montserrat;
	font-size: 25px;
	outline: none;
	padding-bottom: 5px;
	padding-left: 7%;
	padding-right: 3%;
	padding-top: 5px;
	text-align: left;
	transition: 0.4s;
	width: 100%;
}

.accordion:after {
	align-items: flex-end;
	color: rgb(117, 214, 28);
	content: '\002B'; /*'\02795';Unicode character for "plus" sign (+) */
	display: flex;
	float: right;
	font-size: 40px;
	margin-left: 5px;
}

.active:after {
	content: "\2212"; /*"\2796";Unicode character for "minus" sign (-) */
	float: right;
}

.active, .accordion:hover {
	background-color: #303030;
	border-bottom: 5px solid rgb(34, 136, 32);
    border-right: 5px solid rgb(34, 136, 32);
    border-left: 5px solid rgb(117, 212, 28);
    border-top: 5px solid rgb(117, 212, 28);
}

.accordion-btn {
	align-items: center;
	display: flex;
	margin-bottom: auto;
	margin-top: auto;
	width: 95%;
}

.panel {
	background-color: rgb(0, 0, 0);
	max-height: 0;
	overflow: hidden;
	padding: 0 18px;
	transition: max-height 0.2s ease-out;
}

.staff-link {
	align-items: center;
	background-color: rgb(33, 33, 33);
	border-bottom: 5px solid rgb(34, 136, 32);
    border-right: 5px solid rgb(34, 136, 32);
    border-left: 5px solid rgb(117, 212, 28);
    border-top: 5px solid rgb(117, 212, 28);
	color: rgb(117, 212, 28);
	cursor: pointer;
	display: grid;
	font-family: Montserrat;
	font-size: 25px;
	margin-bottom: 2em;
	margin-top: 2em;
	outline: none;
	padding-bottom: 5px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 5px;
	text-align: left;
	transition: 0.4s;
	width: 100%;
}

.staff-link-menu{
	align-items: center;
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16.8px;
	font-weight: 400;
	height: 10%;
	justify-content: space-between;
	letter-spacing: normal;
	line-height: 31.08px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: auto;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: auto;
	overflow-wrap: break-word;
	padding-inline-start: 33.8229px;
	padding: 0.5em;
	text-align: center;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
	width: 100%;
}

.staff-link-menu-item {
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: Montserrat; /*"Nunito Sans", sans-serif;*/
	font-size: 16.8px;
	font-weight: 400;
	height: auto;
	justify-content: center;
	letter-spacing: normal;
	line-height: 37.8px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-wrap: break-word;
	text-align: center;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
	width: 20%;
}

li.staff-link-menu-item {
    position: relative;
    margin-right: 20px;
}

.staff-anchor-link {
	color: rgb(34, 136, 32);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 17pxpx;
	height: 100%;
	text-decoration: none;
	transition: linear 0.2s;
}

.staff-anchor-link:hover {
	color: rgb(117, 212, 28);
	font-family: Montserrat; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 16px;
	height: 100%;
	text-decoration: underline;
	transition: linear 0.2s;
}

.staff-row {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: flex;
	flex-wrap: wrap;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	min-height: 30px;
	padding-bottom: 25px;
	padding-top: 25px;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-row:before {
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-row:after {
	box-sizing: border-box;
	clear: both;
	color: rgb(51, 51, 51);
	content: " ";
	display: block;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-size-adjust: 100%;
	text-transform: none;
	width: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img-col {
	align-self: flex-start;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	min-height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 183.333px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-headshot-wrap {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Raleway;
	font-size: 49px;
	font-weight: 700;
	hyphens: manual;
	line-height: 53.9px;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-wrap: normal;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-pic {
	aspect-ratio: auto 160 / 160;
	border-bottom: 2px solid rgb(0, 0, 0);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left: 2px solid rgb(0, 0, 0);
	border-right: 2px solid rgb(0, 0, 0);
	border-top: 2px solid rgb(0, 0, 0);
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset, rgb(0, 0, 0) 0px 0px 0px 3px inset;
	box-sizing: border-box;
	clear: both;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Raleway;
	font-size: 49px;
	font-weight: 700;
	height: 153.333px;
	hyphens: manual;
	line-height: 53.9px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 100%;
	opacity: 1;
	overflow-clip-margin: content-box;
	overflow-wrap: normal;
	overflow-x: clip;
	overflow-y: clip;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: center;
	text-size-adjust: 100%;
	text-transform: uppercase;
	transition-behavior: normal;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: opacity;
	transition-timing-function: ease;
	vertical-align: middle;
	width: 153.333px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-textspace {
	border-bottom: rgb(33, 137, 32);
	border-left: 0.666667px solid rgb(33, 137, 32);
	border-right: rgb(33, 137, 32);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	min-height: 30px;
	padding-bottom: 32px;
	padding-left: 32px;
	padding-right: 16px;
	padding-top: 0px;
	position: relative;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	width: 825px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-name {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;
	font-size: 33px;
	font-weight: 400;
	hyphens: manual;
	line-height: 36.3px;
	margin-block-end: 0px;
	margin-block-start: 0px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-wrap: normal;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-title {
	box-sizing: border-box;
	color: rgb(117, 214, 28);
	display: block;
	font-family: Montserrat;/*"Open Sans"*/
	font-size: 18px;
	font-weight: 600;
	hyphens: manual;
	line-height: 19.8px;
	margin-block-end: 0px;
	margin-block-start: 10px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	overflow-wrap: normal;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	text-size-adjust: 100%;
	text-transform: uppercase;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-other {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Montserrat;/*"Open Sans"*/
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	margin-block-end: 0px;
	margin-block-start: 14px;
	margin-bottom: 0px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 14px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-size-adjust: 100%;
	text-transform: none;
	unicode-bidi: isolate;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.staff-top {
	color: rgb(117, 212, 28);
	font-family: Montserrat;
	font-size: 20px;
}

.staff-top:before {
	content: '\2227';
	font-size: 25px;
}

.staff-top:after {
	content: '\2227';
	font-size: 25px;
}

/*<!---->*/
/*<===============  EXTRA  ===============>*/
/*<!---->*/

th {
	height: 100%;
	padding: 5px;
	text-align: center;
	width: auto%;
}